.fontSizeChange {
    font-size: 12px !important;
}

.textTransformChange {
    text-transform: none !important;
}

.linkStyle {
    text-decoration: none;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    background-color: 'red';
}